{% extends 'base.html.twig' %}

{% block title %}Borrowing index{% endblock %}

{% block body %}
    <h1>Borrowing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BorrowingDate</th>
                <th>ReturnDate</th>
                {# liens seulement pour les admins #}
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.id }}</td>
                <td>{{ borrowing.borrowingDate ? borrowing.borrowingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrowing.returnDate ? borrowing.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                {# liens seulement pour les admins #}
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('borrowing_show', {'id': borrowing.id}) }}">show</a>
                    <a href="{{ path('borrowing_edit', {'id': borrowing.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrowing_new') }}">Create new</a>
{% endblock %}
